<%- include('base-header') -%>
<div id="add-memo">
    <p class="title">New Memo Added!</p>
    <hr/>

    <div class="card">
        <p>Title: <%= newMemo.title %></p>
        <p>Description: <%= newMemo.descr %></p>
    </div>
</div>
<%- include('base-footer') -%>